<div class="mx-auto md:container sm:py-[15px]">
  <div class="w-full mb-[15px]">
    <h2 class="text-3xl font-bold md:text-center">Contato</h2>
  </div>
  <div class="md:flex ms:flex-col">
    <div class="sm:mx-auto w-full max-w-[500px] sm:p-[45px]">
      <div class="p-5]">
        <ul class="flex flex-col">
          <li class="my-2 flex">
            <span class="flex-1">Telefone</span>
            <span>(27) 99892-9185</span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Telefone</span>
            <span>(31) 9064-5088</span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Email</span>
            <span>
              <a href="email:mreduardoaugusto@outlook.com" target="_blank"
                >mreduardoaugusto@outlook.com</a
              >
            </span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Linkedin</span>
            <span
              ><a
                href="https://www.linkedin.com/in/eduardoasouzax/"
                target="_blank"
                >Perfil</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- <form action="" class="mx-auto w-full max-w-[600px] sm:p-[45px] p-5">
      <div class="py-[15px]">
        <legend>Nome</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>E-mail</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>Mensagem</legend>
        <textarea class="border-b w-full" type="text" value=""></textarea>
      </div>
      <button class="uppercase float-right">Enviar</button>
    </form> -->
  </div>
</div>
