<div class="mx-auto md:container sm:py-[15px]">
  <div class="w-full mb-[15px]">
    <h2
      class="text-3xl font-bold sm:text-center md:sm:text-left xl:pl-[85px] md:pl-[40px]"
    >
      Contato
    </h2>
  </div>
  <div class="md:flex ms:flex-col">
    <div class="sm:mx-auto w-full max-w-[500px] sm:p-[45px]">
      <div class="p-5]">
        <ul class="flex flex-col">
          <li class="my-2 flex">
            <span class="flex-1">Telefone</span>
            <span class="font-serif">(27) 0000-0000</span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Telefone</span>
            <span class="font-serif">(27) 0000-0000</span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Email</span>
            <span class="font-serif">contato@mail.com</span>
          </li>
          <li class="my-2 flex">
            <span class="flex-1">Linkedin</span>
            <span class="font-serif">contato@mail.com</span>
          </li>
        </ul>
      </div>
    </div>
    <form action="" class="mx-auto w-full max-w-[600px] sm:p-[45px] p-5">
      <div class="py-[15px]">
        <legend>Nome</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>E-mail</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>Mensagem</legend>
        <textarea class="border-b w-full" type="text" value=""></textarea>
      </div>
      <button class="uppercase float-right">Enviar</button>
    </form>
  </div>
</div>
