<app-template [menu]="{ fixed: true, animation: false, bgblack: true }">
  <div class="bg-black h-[90px]"></div>
  <div class="blog-wrapper pt-[150px] min-h-[700px]">
    <div class="container mx-auto">
      <div class="grid grid-cols-6">
        <div class="w-full col-span-2">
          <app-blog-sidebar></app-blog-sidebar>
        </div>
        <div class="w-full col-span-4">
          <div class="flex flex-col">
            <app-blog-post [post]="post"></app-blog-post>
          </div>
        </div>
      </div>
      <div *ngIf="!post && loading">
        <img src="assets/spinner.gif" width="60px" class="m-auto" />
      </div>
    </div>
  </div>
</app-template>
