<div class="mx-auto md:container sm:py-[15px]" id="contact">
  <div class="w-full mb-[15px]">
    <h2 class="text-3xl font-bold text-center">Contato</h2>
  </div>
  <div class="md:flex ms:flex-col">
    <div class="sm:mx-auto w-full max-w-[500px] sm:p-[45px]">
      <div class="p-5]">
        <ul class="flex flex-col">
          <li class="my-2">
            <a class="flex w-full" href="https://wa.me/553190645088">
              <span class="flex-1 flex"
                ><img
                  src="./assets/wpp.svg"
                  alt="Link WhatsApp principal"
                  width="30px"
              /></span>
              <span>(31) 9064-5088</span>
            </a>
          </li>
          <li class="my-2 flex">
            <a class="flex w-full" href="https://wa.me/5527998929185">
              <span class="flex-1 flex"
                ><img
                  src="./assets/wpp.svg"
                  alt="Link WhatsApp secundario"
                  width="30px"
              /></span>
              <span>(27) 99892-9185</span>
            </a>
          </li>

          <li class="my-2 flex">
            <a
              class="flex w-full"
              href="https://www.instagram.com/mreduardoaugusto"
            >
              <span class="flex-1 flex"
                ><img
                  src="./assets/instagram.svg"
                  alt="Link email"
                  width="30px"
              /></span>
              <span>mreduardoaugusto</span>
            </a>
          </li>
          <li class="my-2 flex">
            <a
              class="flex w-full"
              href="https://www.linkedin.com/in/mreduardoaugusto/"
            >
              <span class="flex-1 flex"
                ><img src="./assets/linkedin.svg" alt="Link email" width="30px"
              /></span>
              <span>mreduardoaugusto</span>
            </a>
          </li>
          <li class="my-2 flex">
            <a class="flex w-full" href="email:mreduardoaugusto@outlook.com">
              <span class="flex-1 flex"
                ><img src="./assets/mail.svg" alt="Link email" width="30px"
              /></span>
              <span>mreduardoaugusto@outlook.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <form action="" class="mx-auto w-full max-w-[600px] sm:p-[45px] p-5">
      <div class="py-[15px]">
        <legend>Nome</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>E-mail</legend>
        <input class="border-b w-full" type="text" value="" />
      </div>
      <div class="py-[15px]">
        <legend>Mensagem</legend>
        <textarea class="border-b w-full" type="text" value=""></textarea>
      </div>
      <button class="uppercase float-right">Enviar</button>
    </form> -->
  </div>
</div>
