<div class="md:container mx-auto md:py-[105px] sm:py-[75px]">
  <div class="w-full flex justify-center items-center">
    <div class="max-w-[580px] my-[75px]">
      <!-- <img class="flex-1" src="assets/logo.png" /> -->
      <h1 class="font-bold text-3xl">Sobre</h1>
    </div>
  </div>
  <div class="sm:p-5">
    <div class="flex flex-col md:flex-row justify-center">
      <div class="md:w-[500px] sm:w-full p-2">
        <figure class="w-full shadow flex justify-center">
          <img class="flex-1" src="assets/profile.jpeg" />
        </figure>
      </div>
      <div class="md:w-[550px] md:ml-10 sm:px-5">
        <p class="md:text-lg mb-5">
          Graduei-me em Letras pela UFES em 2018, e de lá para cá venho buscando
          aprimorar constantemente meus conhecimentos em meu idioma nativo –
          Português – e nas línguas estrangeiras, com foco em inglês, francês,
          espanhol e russo. Nesse cenário, trabalho com ensino de língua inglesa
          (todos os níveis), bem com ensino e assessoria de português para
          brasileiros, com foco em português acadêmico e corporativo.
        </p>
      </div>
    </div>
  </div>
</div>
