<div
  class="w-full h-auto mb-[75px] shadow overflow-hidden relative select-none outline-none"
>
  <div class="flex flex-col p-3">
    <!-- <picture class="w-full h-[100px] shadow overflow-hidden">
      <img src="/assets/bagpacker.jpg" width="100%" />
    </picture> -->
    <div class="title p-2">
      <a [routerLink]="['/post', post?.url]" class="my-2">
        <h3 class="text-2xl leading-[38px]">
          {{ post?.title }}
        </h3>
      </a>
    </div>
    <div class="p-2 w-full">
      <p class="text-sm leading-[24px]">
        {{ post?.shortDescription }}
      </p>
      <p class="mt-5 text-[0.69em] text-gray-400 text-right">
        <span class="font-bold">{{ post?.user?.fullname }}</span> -
        {{ post?.createdAt | date: "dd/MM/yyyy H:m" }}
      </p>
    </div>
  </div>
</div>
