<app-template>
  <div class="banner banner-top pt-[90px]">
    <div class="container z-10 m-auto relative h-full">
      <div
        class="sm:p-5 h-full flex flex-col justify-end w-full md:pb-[75px] sm:pb-[40px] text-white md:text-3xl sm:text-xl md:leading-5 md:pl-3 sm:pl-5"
      >
        <span class="text-2xl italic text-right">
          Os limites da minha linguagem são os limites do meu mundo.</span
        >
        <h2 class="text-xl uppercase font-bold my-5 text-right">
          Wittgenstein
        </h2>
      </div>
    </div>
  </div>
  <app-about-section></app-about-section>
  <div class="h-[225px] bg-white">
      <div class="content h-full">
        <div class="flex justify-center items-center h-full">
          <a
          routerLink="/blog"
          class="bg-gray-700  text-white uppercase inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2"
          >Acompanhe meu Blog</a>
        </div>  
      </div>
  </div>
  <app-services-section></app-services-section>
  <div class="md:py-[105px] sm:py-[75px] bg-gray-700 text-white">
    <app-contact-section></app-contact-section>
  </div>
  <div class="whatsapp-btn">
    <a href="https://wa.me/553190645088" target="_blank">
      <img src="./assets/wpp.svg" alt="" />
    </a>
  </div>
</app-template>
