<footer class="mt-[100px]">
  <div class="md:container mx-auto">
    <div class="md:w-[500px] mx-auto pb-5">
      <a
        href="https://www.linkedin.com/in/eduardo-araya-7681b8128/"
        target="_blank"
      >
        <p class="text-sm text-gray-600 text-center uppercase">
          © Copyright {{ year }} | All rights reserved
        </p>
        <p class="text-sm text-gray-600 text-center">
          Developed by <span class="font-bold">Eduardo Araya</span>
        </p>
      </a>
    </div>
  </div>
</footer>
